---
const { href, target = "_self" } = Astro.props;
---

<a
  href={href}
  target={target}
  role="link"
  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-400 max-w-fit rounded-2xl hover:text-blue-400 hover:border-blue-400 border-2 border-gray-400 hover:bg-gray-300 dark:border-gray-900 dark:bg-gray-900 dark:hover:bg-gray-950 dark:hover:border-blue-400"
>
  <slot />
</a>
